<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Jogando como os mestres do poker. </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum inventore nesciunt optio earum hic
                dignissimos deserunt explicabo nulla voluptas repellendus, reprehenderit officiis blanditiis numquam
                obcaecati quod pariatur laboriosam necessitatibus ratione!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio deserunt eos error adipisci saepe
                quisquam incidunt est architecto magni odio voluptatem, quis explicabo nobis repellat sapiente rem modi.
                Hic, culpa?
            </p>
            <button type="button" class="btn btn-outline-secondary">Saiba Mais</button>
        </div>

        <div class="col-md-6 mb-3">
            <img src="https://images.unsplash.com/photo-1529480544878-4e2cc822c103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" alt="">
        </div>
    </div>

    <hr class="mt-4 mb-4">

    <div class="row">
        <div class="col-md-12 d-flex">
        
            <div class="col-md-3">
                <img class="w-50" src="https://image.flaticon.com/icons/svg/445/445100.svg" alt="">
            </div>

            <div class="col-md-3">
                <img class="w-50" src="https://image.flaticon.com/icons/svg/445/445100.svg" alt="">
            </div>

            <div class="col-md-3">
                <img class="w-50" src="https://image.flaticon.com/icons/svg/445/445100.svg" alt="">
            </div>

            <div class="col-md-3">
                <img class="w-50" src="https://image.flaticon.com/icons/svg/445/445100.svg" alt="">
            </div>

        </div>
    </div>

    <hr class="mt-4 mb-4">

    <div class="row">
       
        <div class="col-md-6 mb-3">
            <img src="https://images.unsplash.com/photo-1529480544878-4e2cc822c103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" alt="">
        </div>

        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum inventore nesciunt optio earum hic
                dignissimos deserunt explicabo nulla voluptas repellendus, reprehenderit officiis blanditiis numquam
                obcaecati quod pariatur laboriosam necessitatibus ratione!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio deserunt eos error adipisci saepe
                quisquam incidunt est architecto magni odio voluptatem, quis explicabo nobis repellat sapiente rem modi.
                Hic, culpa?
            </p>
            <button type="button" class="btn btn-outline-secondary">Cadastre-se</button>
        </div>

    </div>

</div>